/* #conjuntoCards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
*/
.card{
    display: flex;
    justify-content: space-around;
    border: solid gray 1px;
    margin: 2px;
    height: 200px;
    width: auto;
    transition: height 0.5s ease-in;
}

.card:hover{
    display: flex;
    border: solid gray 1px;
    margin: 2px;
    width: auto;
    height: 350px;
}


.bug{       
    background-color: #9eaf1a;
}

.dark{      
    background-color: #3e2d23;
    color:white
}

.dragon{        
    background-color: #6c5bc3;
}

.electric{      
    background-color: #e69204;
}

.fairy{     
    background-color: #df8fdd;
}

.fighting{      
    background-color: #4d1e10;
    color:white
}

.flying{        
    background-color: #d3d8fb;
}

.fire{      
    background-color: #c72302;
    color:white
}

.ghost{     
    background-color:  #5a5ea9;
}

.grass{     
    background-color: #74c438;
}

.ground{        
    background-color: #d3b766;
}

.ice{       
    background-color: #d3b766;
}

.normal{        
    background-color: #c6c2bd;}

.psychic{       
    background-color: #e3346d;
    color:white
}

.poison{        
    background-color: #7a407b;
    color:white
}

.steel{     
    background-color:  #8f8e9e;
}

.water{     
    background-color: #308cea;
}