@font-face {
    font-family: ChivoMono;
    src: url(font/static/ChivoMono-Regular.ttf);
}

/* #conjuntoCards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
*/
*{
    box-sizing: border-box;
    font-family: ChivoMono;
    font-size: 20px;
}

img{
    width: 200px;
}

.card{
    display: flex;
    justify-content: space-around;
    border: solid gray 1px;
    margin: 2px;
    padding: 10px;
    height: 300px;
    width: auto;
    transition: height 0.5s ease-in;
}

.card:hover{
    display: flex;
    border: solid gray 1px;
    margin: 2px;
    width: auto;
    height: 350px;
}

.fundo{
    background-color: rgba(255, 255, 255, 0.493);
    width: 180px;
    height: 180px;
    border-radius: 100px;
}

.typeContainer img{
    width: 85px;
}

.dark, .fighting, .fire, .psychic, .poison, .ghost, .dragon{color: white;}

.bug{ background-color: #9eaf1a; }

.dark{ background-color: #3e2d23;}

.dragon{ background-color: #6c5bc3;}

.electric{ background-color: #e69204;}

.fairy{ background-color: #df8fdd;}

.fighting{ background-color: #4d1e10;}

.flying{ background-color: #d3d8fb;}

.fire{ background-color: #c72302;}

.ghost{ background-color:  #5a5ea9;}

.grass{ background-color: #74c438;}

.ground{ background-color: #d3b766;}

.ice{ background-color: #6fd2f5;}

.normal{ background-color: #c6c2bd;}

.psychic{ background-color: #e3346d;}

.poison{ background-color: #7a407b;}

.rock{  background-color: #a68d46}

.steel{ background-color:  #8f8e9e;}

.water{ background-color: #308cea;}